<h2>Your Dashboard</h2>
<a href="/newpost">Create New Post</a>

<ul>
  {{#each posts}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{this.content}}</p>
      <button data-id="{{this.id}}" class="delete-post">Delete</button>
      <a href="/editpost/{{this.id}}">Edit Post</a>
    </li>
  {{/each}}
</ul>
