{{#if logged_in}}
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  </nav>
{{else}}
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </nav>
{{/if}}

{{#each blogs}}
  <div>
    <h2>{{this.title}}</h2>
    <p>By {{this.user.username}} on {{this.createdAt}}</p>
  </div>
{{/each}}
