{{!-- // This is the homepage view. It will display a list of all posts. --}}
<h1>Homepage</h1>

{{#each posts}}
<article>
  <h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
  <p>Posted on: {{this.created_at}}</p>
</article>
{{/each}}
