<h2>Login</h2>
<form id="login-form">
  <input type="text" name="username" placeholder="Enter your username" required>
  <input type="password" name="password" placeholder="Enter your password" required>
  <button type="submit">Login</button>
</form>
<a href="/signup">Don't have an account? Sign up</a>
