<h2>Sign Up</h2>
<form id="signup-form">
  <input type="text" name="username" placeholder="Choose a username" required>
  <input type="password" name="password" placeholder="Choose a password" required>
  <button type="submit">Sign Up</button>
</form>
<a href="/login">Already have an account? Login</a>
